body {
    font-family: 'Hannotate SC','HanziPen SC','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' !important;
    min-width: 800px;
   /* background: linear-gradient(-20deg, #C26A7A 0%, #91D0CD  100%);*/
    background: linear-gradient(-20deg, #C26A7A 0%, #ecece7  100%);
}
.newFlex {
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;    
}
.eachPortfolio {
	width: calc(50% -16px);
	box-sizing: border-box;
}
.navbar{
    /*background-color: olivedrab !important;*/
    background-color:white !important;
    border: 2px dotted grey !important;
    /*border-style: hidden double dashed;*/
} 
.navbar-nav a{
    /*color:deepskyblue !important;*/
    color:darkturquoise !important;
}
.nav-one{
    border-right: solid;
    border-color: grey;
}
/*.nav-one2{
    border-left: solid;
    border-color: grey;
}*/
label[for="id_title"],label[for="id_text"],label[for="id_category"]{
    color:darkblue;
    font-size: 12px !important;
    font-weight: bold;
    vertical-align: middle; 
}
#id_title, #id_text, #id_category{
    border-color:darkblue;
    vertical-align: middle; 
}

label[for="id_thumbnail1"], label[for="id_thumbnail2"], label[for="id_thumbnail3"], label[for="id_thumbnail4"], label[for="id_thumbnail5"]{
    font-size: 12px !important;
    font-weight: bold;
    vertical-align: middle;
}
#id_thumbnail1,#id_thumbnail2,#id_thumbnail3, #id_thumbnail4, #id_thumbnail5{
    font-size: 12px !important;
}
.font_size{
    font-size: 16px !important;
    vertical-align: middle !important;
}
label[for="id_find1"],label[for="id_find2"]{
    font-size: 16px !important;
}

.choice4{
    color:darkmagenta !important;
}
.choice10{
    color:deeppink !important;
}
.choice20{
    color:maroon !important;    
}
.choice30{
    color:darkcyan !important;    
}
body{
   /* background:url("/media/resource/topHaikei.jpg");*/
    /*background-size:contain; */
    background-color:rgba(249, 235, 235, 0.8);
    background-blend-mode: lighten;
}
.bg-light {
    --bs-bg-opacity: 0 !important;
}
.p-4 {
    padding: 0 !important;
    border-color:darkturquoise !important;
    border:none !important;
}
.p-4 h3{
    margin-bottom: 0.2rem !important;
}
.mt-3 {
    margin-top: 0.2rem !important;
}
.h3, h3 {
    font-size: calc(1rem + .4vw);
}
.m-4 {
    /*margin: 0.6rem !important;*/
}
.mt-3 a{
    /*color: deepskyblue !important;*/
    color:darkturquoise !important;
}
.mt-2 {
    margin-top: 0rem!important;
}

  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    /* アニメーション速度を指定 */
    transition: color 0.3s ease-out;
  }
  .nav-item a:hover {
    /* hover後に色を変化させる指定 */
    color:black !important;
  }

  .to-shousai a {
    color:darkcyan !important;
  }


  .wrap {
    margin: 0 2em 0 2em;
	/*margin: 0;*/
    padding: 0;
  }
  
  .wrap .label1 {
    display: block;
    padding : 8px;
    color: #fff;
    font-weight: bold;
    background: #999;
    cursor: pointer;
  }

  
  .wrap input[type="checkbox"] {
    display: none;
  }
  
  .wrap .content {
    height: 0;
    padding: 2px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .switch:checked + .content {
    height: auto;
    padding: 8px;
    background: #f7f7f7;
  }
  
  .kekka label {
    display: block;
    padding : 8px;
    color: #fff;
    font-weight: bold;
    background: #999;
  }
  .form-control1, .form-control2{
    width: 170px !important;
    height: 32px !important;
    vertical-align: middle !important;
  }
  
  #id_answers{
    width: 210px;
    height: 32px !important;
    vertical-align: middle !important;
    text-align: center !important;
  }
  /*検索ボタン*/
  .btn-primary {
    color: #fff;
    background-color: darkturquoise !important;
    border-color: darkturquoise !important;
}
@media screen and (min-width: 992px) {
.mt-2{
    text-align: right !important;
    margin-left: 20px !important;
    position:relative !important;
    top: 0px !important;
    }
}
@media screen and (max-width: 992px) {
    .mt-2{
        text-align: right !important;
        margin-left: 20px !important;
        position:relative !important;
        top: 24px !important;
        }
    }
.flex{
    display: flex !important;
}
.flex p{
    margin-right: 10px !important;
    margin-left: 2px !important;
}
.switch:checked + .content {
    padding: 10px !important;
}

@media screen and (max-width: 570px) {
    .navbar a{
        font-size: 12px !important;
    }
}

@media screen and (min-width: 570px) {
    .navbar a{
        font-size: 0.9rem !important;
    }
}

.radio-plain{
    top: 4px !important;
    position: relative !important;
}
.seikai{
    color:blue !important;
}
.fuseikai{
    color:red !important;
}


.rotateX{
    animation-name:rotateXAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
@keyframes rotateXAnime{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotateX(-360deg);
    }
}

.mondai{
    font-size:calc(1.275rem + .3vw) !important;
}

@media screen and (max-width: 775px) {

    
}

label[for="label1"],label[for="label2"]{
    color:gray !important;
}

/* radiobuttonとラベルをセットに*/
/*
.content label {
	display: block;
	background-color: #ffc;
	margin: 10px;
	padding: 10px;
	text-align: left;
}
.content label:after {
	content: "";
	clear: both;
	display: block;
}
.content label input { float: left; }
.content label p {
	float: left;
	padding-top: 2px;
	width: calc(20% - 24px);
}
*/
/**/

.h2, h2 {
    font-size: 12pt !important;
}
.m-4{
    background-color: rgb(234,234,234) !important;
}
.p-4 {
    padding: 0 0.6rem 0 0.6rem!important;
    /*border-color:olivedrab !important;*/
    /*border:none !important;*/
}

.flex{
    display:flex;
}
.left{
    margin-right: 10%;
}
.right{
    margin-top: 3%;
    margin-bottom: 2%;
}
.chouseiImg{
    /*vertical-align: bottom !important;*/
    /*align-items: center !important;*/
    align-items: center;
}

.toQichiran{
    color: darkturquoise !important;
}

.detailTaitoruColor{
    color: darkturquoise !important;
}
.detailNaiyouColor{
    color: black !important;
}
.detailThumbnail1Color{
    color: grey !important;
}
.detailThumbnail2Color{
    color: grey !important;
}
.detailThumbnail3Color{
    color: grey !important;
}
.detailThumbnail4Color{
    color: grey !important;
}
.detailThumbnail5Color{
    color: grey !important;
}
.detailKategoriColor{
    color: grey !important;
}
a{
    text-decoration: none !important
  }
  form p{
    margin: 0.5rem !important;
}


.contentProfile {
    width: 720px;
    margin: 0 auto 0 auto;
    background-color:dimgray;
    border-top: 18px dimgray solid;
    border-bottom: 18px dimgray solid;
    border-radius: 16px;
    padding-top: 0;
}
.prof {
    width: 580px;
    margin: 0 auto 20px auto;
    padding: 0 8px 8px 8px;
    text-align: center;
    background-color:white;
    border: 2px white solid;
    border-radius: 8px;
}
.prof1{
    margin-top:0px;
    background-color:white;
    paddin-top: 0;

}
.prof2{
    padding: 40px 22px 40px 22px;
    color: black;
    background-image: url("../img/inasaMt.jpg");
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-size: 198%;
}
.profileUl,ol {
    margin: auto;
    width: 340px;
}
.profileUl li {
    text-align: left;
}
.detail h3 {
    text-align: center;
    font-family: 'fantasy','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    border-bottom: 3px grey solid;
}
.profileImg {
    /* 角丸の半径を50%に*/
    border-radius: 50%;
    /* 縦横を同じにする */
    width:  100px;
    /* 縦横を同じにする */
    height: 100px;
    /* 画像の縦横比を保ったまま領域をカバー */
    object-fit: cover;
    /* 画像の横の位置　縦の位置 */
    object-position: left top;
    /* プロフ画像の回転 */
    transition: .5s;
    transition: rotateZ(0deg);
}
.profPic:hover{
    /* プロフ画像の回転 */
    transform: rotateZ(360deg);
}
.name{
    font-size:24px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.naname {
    /* 文字を斜めに */
    transform: rotate(-2deg);
}
.naname2 {
    /* 文字を斜めに */
    transform: rotate(2deg);
}
.naname3 {
    /* 文字を斜めに */
    transform: rotate(-2deg);
}
.detail{
    margin-bottom:30px;
}

.profileUl {
    padding:0;
    }
.command{
    display: none;
}
.codingEx{
    display: none;
}

.naname2:hover{

    transform: rotate(0deg);
    background-color: rgb(35, 36, 31);
    width:100%;
    border-radius: 10px;
    height: 124px;
    transition-duration: .4s;
}

.naname2:hover h3 {
    background-color:white;
    background-image: url("/media/img/commandPromptHeader.png");
    background-size: 99%;
    background-repeat: no-repeat;
    color:white;
    font-size:14px;
    height: 24px;
    padding: 6px 0 0 6px;
    border-bottom: 0;
    border-radius: 10px 10px 0px 0px
}

.naname2:hover ul {
    margin: auto 60px auto 60px;
}

.naname2:hover .command{
    display:inline-block;
}

.naname2:hover .codingEx{
    color: white;
    display:block;
}

/*カーソルチカチカ*/
.naname2:hover .chikachika{
    background: linear-gradient(to right, rgba(200, 200, 200, 1.0) 10%, rgba(35, 36, 31, 1.0) 10%);
    animation-duration: 1.2s;
    animation-name: cursorAnimation;
    animation-iteration-count: infinite;
}

@keyframes cursorAnimation {
    from {
      background: linear-gradient(to right, rgba(200, 200, 200, 1.0) 10%, rgba(35, 36, 31, 1.0) 10%);
      }

      to {
        background: linear-gradient(to right, rgba(200, 200, 200, 0.0) 10%, rgba(35, 36, 31, 1.0) 10%);
      }
}
.naname2:hover #s0 {
    color: rgb(248, 248, 242);
    /*background-color: rgb(35, 36, 31);*/

    width:7%;
    white-space:nowrap;
    overflow:hidden;

    animation-iteration-count:1;
    width:140%;
}

.naname2:hover #s1 {
    color: rgb(248, 248, 242);
    /*background-color: rgb(35, 36, 31);*/

    width:0%;
    white-space:nowrap;
    overflow:hidden;

    animation-iteration-count:1;
    width:140%;
}
.naname2:hover #s2{
    color: rgb(248, 248, 242);
    /*background-color: rgb(35, 36, 31);*/

    width:0%;
    white-space:nowrap;
    overflow:hidden;

    animation-iteration-count:1;
    width:140%;
}

.naname2:hover #s0 {
    animation:s0 1.5s ;
}
@keyframes s0 {
        from { width:7%; }
        33% { width: 70%; }
        to { width:100%; }
}
.naname2:hover #s1 {
    animation:s1 1.5s ;
}
@keyframes s1 {
        0% { width:0%; }
        33% { width:0%; }
        66% { width:0%; }
        67% { width:7%; }
        87% { width:70%; }
        100% { width:100%; }
        to { width:120%; }
}
.naname2:hover #s2 {
    animation:s2 3s ;
}
@keyframes s2 {
        0% { width:0%; }
        77% { width:0%; }
        100% { width:0%; }
        101% { width:7%; }
        130% { width:120%; }
        140% { width:130%; }
        155% { width:145%; }
        170% { width:160%; }
        to { width:100%; }
}


.naname:hover{
    transform: rotate(0deg);
    width:100%;
    border-radius: 10px;
    background-image: url("/media/img/ohtani.gif");
    background-size: 17%;
    background-repeat:  no-repeat;
    background-blend-mode:lighten;
    background-position: right bottom;
    height: 120px;
}

.naname3:hover{
    transform: rotate(0deg);
    width:100%;
    border-radius: 10px;
    background-image: url("/media/img/ojigi.png");
    background-size: 18%;
    background-repeat:  no-repeat;
    background-position: right bottom;
    height: 110px;
}

/* スライド*/
.fixed-background {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-1 {
  background-image: url("/media/img/myPicture.jpg");
  background-size: 15%;
  background-position: center;
  background-repeat: no-repeat;
 /* height: 160px;*/
 /* filter: grayscale(100%);*/
  opacity: 0.3;
}

.background-2 {
  background-image: url("/media/img/inasaMt.jpg");
}
.topProfImage {
	filter: grayscale(100%);
}
.fullName {
	margin-top: 100px;
	text-align: center;
}
